<a href="https://colab.research.google.com/github/YeonJin55/bitamin-society-of-big-data-and-artificial-intelligence/blob/main/pandas_missing_value_sampling_scaling_exercises_solution_%ED%8C%90%EB%8B%A4%EC%8A%A4_%EA%B2%B0%EC%B8%A1%EC%B9%98_%EC%83%98%ED%94%8C%EB%A7%81_%EC%8A%A4%EC%BC%80%EC%9D%BC%EB%A7%81_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C_%EC%A0%95%EB%8B%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns # 시각화를 위한 라이브러리
import matplotlib.pyplot as plt
import calendar
from datetime import datetime

# Part 2 데이터 전처리

한국환경공단에서 발표한 미세먼지 관련 자료를 분석하려고 데이터를 사용하려고 합니다. <p>
'SeoulHourlyAvgAirPollution.csv' 을 불러와 pollution 으로 저장해주세요.

In [3]:
#colab에 SeoulHourlyAvgAirPollution.csv 파일 업로드
from google.colab import files
import io
SeoulHourlyAvgAirPollution_data=files.upload()
pollution =pd.read_csv(io.BytesIO(SeoulHourlyAvgAirPollution_data["SeoulHourlyAvgAirPollution.csv"]))

Saving SeoulHourlyAvgAirPollution.csv to SeoulHourlyAvgAirPollution.csv

### [2-1] Label Encoding
'측정소명' 변수를 레이블 인코딩하고, 레이블 인코딩한 값을 기존 데이터 프레임에 '측정소명_인코딩'라는 열로 추가해보세요.(※ reff. 세션2_ 데이터 전처리.pdf)

In [4]:
pollution.head()

,측정일시,측정소명,이산화질소농도(ppm),오존농도(ppm),일산화탄소농도(ppm),아황산가스(ppm),미세먼지(㎍/㎥),초미세먼지(㎍/㎥)
0,201711242300,강남구,0.038,0.004,0.4,0.005,16.0,10.0
1,201711242200,강남구,0.031,0.008,0.4,0.005,17.0,9.0
2,201711242100,강남구,0.025,0.012,0.4,0.005,18.0,11.0
3,201711242000,강남구,0.033,0.007,0.4,0.005,21.0,12.0
4,201711241900,강남구,0.033,0.008,0.4,0.005,20.0,10.0

In [5]:
#'측정소명' 파악
pollution['측정소명'].value_counts()

강남구     169
서대문구    169
중구      169
종로구     169
은평구     169
용산구     169
영등포구    169
양천구     169
송파구     169
성북구     169
성동구     169
서초구     169
마포구     169
강동구     169
동작구     169
동대문구    169
도봉구     169
노원구     169
금천구     169
구로구     169
광진구     169
관악구     169
강서구     169
강북구     169
중랑구     169
Name: 측정소명, dtype: int64

In [6]:
from sklearn.preprocessing import LabelEncoder
#사이킷런을 이용한 레이블 인코딩

'''sol1) LabelEncoder 메소드 사용'''
#레이블 인코더 객체 생성
encoder = LabelEncoder()
#레이블 학습
encoder.fit(pollution['측정소명'])
#변환
labels = encoder.transform(pollution['측정소명'])
labels

'''sol2) fit_transform() -> fit, transform 동시에 해주는 메소드 사용'''
t_label = encoder.fit_transform(pollution['측정소명']) #t_label 변수에 할당하지 않고 바로 pollution 열로 추가하는 방법도 있다.
t_label

array([ 0,  0,  0, ..., 24, 24, 24])

In [7]:
#열 추가
pollution['측정소명_인코딩'] = labels
pollution.head()

,측정일시,측정소명,이산화질소농도(ppm),오존농도(ppm),일산화탄소농도(ppm),아황산가스(ppm),미세먼지(㎍/㎥),초미세먼지(㎍/㎥),측정소명_인코딩
0,201711242300,강남구,0.038,0.004,0.4,0.005,16.0,10.0,0
1,201711242200,강남구,0.031,0.008,0.4,0.005,17.0,9.0,0
2,201711242100,강남구,0.025,0.012,0.4,0.005,18.0,11.0,0
3,201711242000,강남구,0.033,0.007,0.4,0.005,21.0,12.0,0
4,201711241900,강남구,0.033,0.008,0.4,0.005,20.0,10.0,0

사이킷런의 머신러닝 알고리즘은 문자열 값을 입력 값으로 허락하지 않는다. 따라서, 모든 문자열 값을 숫자형으로 인코딩하는 전처리 작업 후에 머신러닝 모델에 학습시켜야 한다. 

[인코딩 방식]
* 레이블 인코딩 (Label Encoding)
* 원-핫 인코딩 (One Hot Encoding)

In [8]:
#인코딩 된 값 알아내기 
for i, j in enumerate(encoder.classes_):
  print(j, 'to', i)

강남구 to 0
강동구 to 1
강북구 to 2
강서구 to 3
관악구 to 4
광진구 to 5
구로구 to 6
금천구 to 7
노원구 to 8
도봉구 to 9
동대문구 to 10
동작구 to 11
마포구 to 12
서대문구 to 13
서초구 to 14
성동구 to 15
성북구 to 16
송파구 to 17
양천구 to 18
영등포구 to 19
용산구 to 20
은평구 to 21
종로구 to 22
중구 to 23
중랑구 to 24

### [2-2] 결측치, 중복값 처리
한국환경공단에서 발표한 미세먼지 관련 자료를 분석하려고 데이터를 사용하려고 합니다.우선, 칼럼별 결측치의 개수를 구해주세요.

In [9]:
# 칼럼별 결측치 개수 확인
pollution.isnull().sum()

측정일시             0
측정소명             0
이산화질소농도(ppm)    38
오존농도(ppm)       42
일산화탄소농도(ppm)    42
아황산가스(ppm)      38
미세먼지(㎍/㎥)       59
초미세먼지(㎍/㎥)      64
측정소명_인코딩         0
dtype: int64

#### a. 결측치 처리하기
결측치를 대체하거나, 제외하려고 합니다. 아래의 조건에 맞게 데이터를 수정해주세요. (inplace=True)

1) '이산화질소농도'는 결측치를 제거 <p>
2) '오존농도'는 데이터에서 제외 <p>
3) '일산화탄소농도'는 바로 위 행의 데이터로 대체 <p>
4) '아황산가스' 는 결측치 값을 0으로 대체 (조건: replace() 메소드 사용) <p>
5) '미세먼지'의 결측치는 열의 평균값으로 대체 <p>
6) '초미세먼지'의 결측치는 최빈값으로 대체

In [10]:
#'이산화질소농도'는 결측치를 제거 
pollution.dropna(subset=['이산화질소농도(ppm)'], how = 'any', axis = 0, inplace = True) #특정 열 지정, 하나라도 있으면, 행 삭제

In [11]:
#'오존농도'는 데이터에서 제외
pollution.drop(['오존농도(ppm)'], axis = 1, inplace = True)

In [12]:
#'일산화탄소농도'는 바로 위 행의 데이터로 대체
pollution['일산화탄소농도(ppm)'].fillna(method='ffill', inplace = True)

In [14]:
#'아황산가스' 는 결측치 값을 0으로 대체 (조건: replace() 메소드 사용)
pollution['아황산가스(ppm)'].replace(to_replace=np.nan, value = 0, inplace = True)
#fillna 이용 방법
pollution['아황산가스(ppm)'].fillna(0, inplace=True)

In [15]:
#'미세먼지'의 결측치는 열의 평균값으로 대체
pollution['미세먼지(㎍/㎥)'].replace(to_replace = np.nan, value = pollution['미세먼지(㎍/㎥)'].mean(), inplace=True)

In [16]:
'''sol1) 숫자 직접 대치하기'''
#'초미세먼지'열의 최빈값 확인
pollution['초미세먼지(㎍/㎥)'].value_counts()

10.0    273
11.0    264
12.0    244
9.0     231
13.0    207
       ...
80.0      1
74.0      1
73.0      1
84.0      1
85.0      1
Name: 초미세먼지(㎍/㎥), Length: 77, dtype: int64

In [17]:
#'초미세먼지'의 결측치는 최빈값으로 대체
pollution['초미세먼지(㎍/㎥)'].fillna('10.0', inplace = True)

In [18]:
pollution.isnull().sum()

측정일시            0
측정소명            0
이산화질소농도(ppm)    0
일산화탄소농도(ppm)    0
아황산가스(ppm)      0
미세먼지(㎍/㎥)       0
초미세먼지(㎍/㎥)      0
측정소명_인코딩        0
dtype: int64

In [ ]:
'''sol2) mode() 함수 이용'''
pollution['초미세먼지(㎍/㎥)'].fillna(pollution['초미세먼지(㎍/㎥)'].mode()[0], inplace=True)

#### b. 중복값 처리하기
DUPLICATED.csv 를 불러와, duplicates 에 저장해주세요.

duplicates를 분석해보니, 같은 사람에 대해서 중복된 데이터가 존재합니다. <p>
'NAME' 과 'ID' 가 모두 중복이면, 처음 나온 데이터가 올바른 값입니다. <p>
'NAME' 은 중복이지만, 'ID'가 중복이지 않으면, 잘못된 데이터입니다. <p>
잘못된 데이터는 삭제해주시고, 중복값을 적절하게 처리하여 데이터를 수정해주세요.

In [19]:
# DUPLICATED.csv 를 불러와, duplicates 에 저장해주세요.
duplicates_data = files.upload()
duplicates = pd.read_csv(io.BytesIO(duplicates_data["DUPLICATED.csv"]))

Saving DUPLICATED.csv to DUPLICATED.csv

In [20]:
# duplicates를 분석해보니, 같은 사람에 대해서 중복된 데이터가 존재합니다.
duplicates.duplicated('ID')

0    False
1     True
2    False
3    False
4    False
5     True
6    False
7    False
8    False
9     True
dtype: bool

In [21]:
# 'NAME', 'ID' 기준 중복되는 행 제거 & 첫 번째 행 남기고 전부 제거
duplicates.drop_duplicates(['NAME', 'ID'], keep = 'first', inplace=True)

In [22]:
duplicates.duplicated('NAME')

0    False
2    False
3     True
4    False
6    False
7     True
8    False
dtype: bool

In [23]:
# 'NAME' 은 중복이지만, 'ID'가 중복이지 않으면, 잘못된 데이터입니다. -> 삭제
# 'NAME', 'ID' 가 같은 중복값은 처리했으므로 이후로 남은 'NAME'만 중복되는 값은 잘못된 데이터다.
duplicates.drop_duplicates(['NAME'], keep = False, inplace=True)

처리 결과 확인

In [24]:
duplicates.duplicated('NAME')

2    False
4    False
8    False
dtype: bool

In [25]:
duplicates.duplicated('ID')

2    False
4    False
8    False
dtype: bool

※ reff. https://sy-log.tistory.com/60

###[2-3] 불균형 데이터 처리
## <서술형 문항>
Pollution 데이터을 분류 하려고 하는데, 불균형 데이터 처리 단계를 거쳐야 합니다.
불균형 데이터가 무엇인지 설명하고, Undersampling 과 Oversampling 이 무엇인지 간단하게 설명해주세요. (간단히만 적어주시면 됩니다!)

불균형 데이터란 분류 목적의 데이터 셋에 클래스 라벨의 비율이 불균형한 경우를 말한다. 암에 걸린 사람보다 걸리지 않은 사람이 월등히 많은 경우의 데이터를 예로 들 수 있다.<br>
####Undersampling<br>
다수 범주의 데이터를 소수 범주의 데이터 수에 맞게 줄이는 샘플링 방식이다. 즉, 적은 개수의 데이터 크기로 줄이는 것을 말한다. 이는 계산이 신속하고 유의미한 데이터만 남는다는 장점이 있지만, 데이터 손실 측면에서 단점이 있다.<br>
<사용 방법><br>
- imbalanced-learn 패키지를 설치해 그 안의 다양한 샘플링 함수들을 활용한다.<br>
- Random User Sampling = 랜덤으로 데이터를 선택한다. RandomUnderSapler().fit_resample()<br>
- Tomek's Link, CNN 등<br>

####Oversampling<br>
소수 범주의 데이터를 다수 범주의 데이터 수에 맞게 늘리는 샘플링 방식이다. 대체적으로 Minority의 수가 매우 적기 때문에 오버샘플링을 보편적으로 사용한다.<br>
<사용 방법><br>
- Random Over Sampling = 소수 클래스를 단순 복제하기에 분포는 변하지 않지만, 숫자가 늘어나기에 더 많은 가중치를 받게 된다. 오버피팅의 위험이 있다.<br>
- SMOTE = 임의의 소수 클래스에 해당하는 관측치 X를 잡고, 그 X로부터 가장 가까운 K개의 이웃 X를 찾는다. 이 K개와 X 사이의 임의의 새로운 데이터 X'를 생성한다.
- ADASYN = 가중치를 통해 SMOTE를 적용한다.

※ reff. https://wyatt37.tistory.com/10

#### under sampling
'train' 데이터프레임을 사용하여, x는 'count', 'registered', y는 'workingday'로 x 와 y 값을 설정하세요. 위 x,y 에 대하여 under sampliing 기법 중 하나를 선택하여 불균형 데이터 처리를 진행하고 어떻게 데이터가 변화하였는데 살펴보세요. 
(hint: shape, value_counts 등을 통해 샘플링 전후 데이터 개수의 변화를 알 수 있습니다.)<p>

In [ ]:
from imblearn.under_sampling import *

In [ ]:
x = train[['count', 'registered']] # X값 설정 Y에 영향을 주는 요인 두 가지
y = train[['workingday']] # Y값 설정

# Y는 일하는 날O or 일하는 날X binary 데이터 -> 불균형 데이터
print((y==1).sum()) 
print((y==0).sum())
print(x.shape)
print(y.shape)

workingday    7412
dtype: int64
workingday    3474
dtype: int64
(10886, 2)
(10886, 1)

In [ ]:
# sol1) 랜덤언더샘플링
x_resampled, y_resampled = RandomUnderSampler(random_state =0).fit_resample(x,y)
x_resampled.shape
y_resampled.shape
print((y_resampled==1).sum())
print((y_resampled==0).sum())
#언더 샘플링을 통해 Minority 데이터 개수로 동일하게 맞춰진 것을 볼 수 있다.

workingday    3474
dtype: int64
workingday    3474
dtype: int64

In [ ]:
# sol2) Tomek's Link
x_resampled, y_resampled = TomekLinks().fit_resample(x, y)

print('the shape of x_resampled: ', x_resampled.shape)
print('the shape of y_resampled: ', y_resampled.shape)

print('counts of label "1": ', (y_resampled==1).sum())
print('counts of label "0": ', (y_resampled==0).sum())
#토멕링크 언더샘플링 이후로도 데이터 불균형이 크다.

the shape of x_resampled:  (10555, 2)
the shape of y_resampled:  (10555, 1)
counts of label "1":  workingday    7081
dtype: int64
counts of label "0":  workingday    3474
dtype: int64

###[2-4] Feature Scaling
날씨와 ('weather' 칼럼) 과 전체 대여된 자전거 수 ('count' 칼럼) 을 비교하기 위하여 Feature Scaling 하고자 합니다. <p>
두 변수 모두 정규화를 적용한 후, 'weather scaled' 및 'count scaled' 으로 저장하여, 각 변수 정규화 적용 전 후 평균과 분산을 비교해주세요.

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler2 = StandardScaler()

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler1 = MinMaxScaler()

In [ ]:
# 'weather', 'count' 열 정규화 적용
weather_scaled = MinMaxScaler().fit_transform(train['weather'].values.reshape(-1, 1))
count_scaled = MinMaxScaler().fit_transform(train['count'].values.reshape(-1, 1))
train['weather_scaled'] = weather_scaled
train['count_scaled'] = count_scaled

AttributeError: 'Series' object has no attribute 'reshape'<br>
train['weather'].reshape(-1, 1) --> train['weather'].values.reshape(-1, 1)

In [ ]:
train.head()

          datetime  season  holiday  ...  weekday  weather_scaled  count_scaled
0  2011-01-01 0:00       1        0  ...        5             0.0      0.015369
1  2011-01-01 1:00       1        0  ...        5             0.0      0.039959
2  2011-01-01 2:00       1        0  ...        5             0.0      0.031762
3  2011-01-01 3:00       1        0  ...        5             0.0      0.012295
4  2011-01-01 4:00       1        0  ...        5             0.0      0.000000

[5 rows x 19 columns]

In [ ]:
print('Weather 의 정규화 적용 전 평균과 분산 비교')
print(train[['weather', 'weather_scaled']].mean())
print(train[['weather', 'weather_scaled']].var())

print('Count 의 정규화 적용 전 평균과 분산 비교')
print(train[['count', 'count_scaled']].mean())
print(train[['count', 'count_scaled']].var())

Weather 의 정규화 적용 전 평균과 분산 비교
weather           1.418427
weather_scaled    0.139476
dtype: float64
weather           0.401751
weather_scaled    0.044639
dtype: float64
Count 의 정규화 적용 전 평균과 분산 비교
count           191.574132
count_scaled      0.195260
dtype: float64
count           32813.313153
count_scaled        0.034447
dtype: float64