<a href="https://colab.research.google.com/github/YeonJin55/bitamin-society-of-big-data-and-artificial-intelligence/blob/main/pandas_data_handling_exercises_%ED%8C%90%EB%8B%A4%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%8B%A4%EB%A3%A8%EA%B8%B0_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns # 시각화를 위한 라이브러리
import matplotlib.pyplot as plt
import calendar
from datetime import datetime

#Part 1. 파이썬 기본
사용 데이터셋 :  https://www.kaggle.com/c/bike-sharing-demand/data

In [ ]:
#colab에 실습(train.csv) 파일 업로드
from google.colab import files
import io
train_data=files.upload()
train=pd.read_csv(io.BytesIO(train_data["train.csv"]))

### [1-1] 
datetime 열을 년-월-일, 시간 이렇게 분리해서 새로운 tempDate 라는 이름의 열을 만들어주세요.
* ex) 2011-01-01 00:00:00  ->  2011-01-01 , 00:00:00

In [ ]:
#datetime 열을, 년-월-일, 시간 분리
train['tempDate']=
train['tempDate']

### [1-2] 
1-1에서 분리한 tempDate열을 가지고, train 데이터에 year, month, day, weekday 열을 추가해주세요.

In [ ]:
#분리한 tempDate를 가지고 year, month, day, weekday column 추가
train['year']=
train['month']=
train['day']=
train['weekday']=
train['hour']=

### [1-3] 
1-2에서 만든 year, month, day, hour의 문자형 데이터를 숫자형 데이터로 변환해주세요.

In [ ]:
#분리한 형태의 문자형 데이터를 숫자형 데이터로 변환
train['year']=
train['month']=
train['day']=
train['hour']=

### [1-4] 
이제, 필요없는 tempDate 열을 삭제해 주시고, train.csv을 위에서부터 5행 출력해주세요.

In [ ]:
#필요없는 tempDate열 삭제 후, train을 위에서부터 5행 출력

### [1-5] 
월별로 count를 내림차순 정렬해 주세요.

In [ ]:
#월별로 count 내림차순 정렬

### [1-6] 
1-5를 통해, 6월에 count가 가장 많은 것을 확인할 수 있었습니다! 6월 데이터만 추출하여, June 변수에 저장해주세요.

In [ ]:
#6월 데이터만 추출하여 June 변수에 저장
June=
June

### [1-7]
6월달 중 가장 count가 많은 날짜(day)를 내림차순으로 정렬해주세요.

In [ ]:
# 6월달 중 가장 count가 많은 날짜 파악